# Build files
lib

# Testing
coverage

# Input files
input/*
!input/.gitkeep
!input/asset.xlsx

# Output files
output/*
!output/.gitkeep

# Dependencies
node_modules/

# OS
.DS_Store
*:Zone.Identifier

# Miscellaneous
.eslintcache
